@model CutList.Models.ViewModels.OrderViewModel
@*to get static details*@
@using CutList.Utility


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>




<form method="post">
    <!-- if there is anyhitng in Orderdetails count method -->
    @if (Model.OrderDetails.Count() > 0)
    {
        <br />
        <div class="backgroundWhite container">
            <div class="card">
                <!--------------- card header ---------------------->
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1">
                        <i class="fas fa-shopping-cart"></i> &nbsp; Oder Summary 321
                    </div>

                    <div class="col-12 col-md-4 offset-md-2 text-right">
                        <a asp-action="Index" asp-controller="Order" class="btn btn-outline-info form-control btn-sm">
                            Back to Orders 123
                        </a>
                    </div>

                </div>

                <!---------------- Card Body ---------------------->
                <div class="card-body">

                    <div class="container" rounderd p-2>
                        <div class="row">
                            <div class="col-12 col-lg-6 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-primary">PickUp Details 123</span>
                                    </h4>
                                </div>

                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Name 111</label>
                                    </div>
                                    <div col class="col-9">
                                        <!-- READ ONLY SO NO VALIDATION -->
                                        <input asp-for="OrderHeader.Name" id="txtName" readonly type="text" class="form-control" />
                                    </div>
                                </div>

                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Phone 222</label>
                                    </div>
                                    <div col class="col-9">
                                        <!-- custom validation for phone -->
                                        <input asp-for="OrderHeader.Phone" id="txtPhone" readonly type="text" class="form-control" />
                                    </div>
                                </div>

                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Address 333</label>
                                    </div>
                                    <div col class="col-9">
                                        <input asp-for="OrderHeader.Address" readonly type="text" class="form-control" />
                                    </div>
                                </div>

                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>City 444</label>
                                    </div>
                                    <div col class="col-9">
                                        <input asp-for="OrderHeader.City" readonly type="text" class="form-control" />
                                    </div>
                                </div>

                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Post code 555</label>
                                    </div>
                                    <div col class="col-9">
                                        <input asp-for="OrderHeader.PostCode" readonly type="text" class="form-control" />
                                    </div>
                                </div>

                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Email 666</label>
                                    </div>
                                    <div col class="col-9">
                                        <input asp-for="OrderHeader.Email" readonly type="text" class="form-control" />
                                    </div>
                                </div>

                            </div>

                            <div class="col-12 col-lg-5 offset-lg-1">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">Order Summary 321</span>
                                </h4>
                                <!-- unordered list -->
                                <ul class="list-group mb-3">
                                    <!-- iterate through service list and keep order total -->
                                    @{
                                        var total = 0.0;
                                    }

                                    @foreach (var details in Model.OrderDetails)
                                    {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <input type="hidden" asp-for="@details.Id" />
                                            <h6 class="my-0">@details.ServiceName</h6>
                                            <small class="text-muted">Price of the item : @details.Price</small>
                                        </div>
                                        @*<span class="text-muted">£@(details.Price*details.Frequency.FrequencyCount)</span>

        <!-- updating total -->
        @{
            total += (details.Price * details.Frequency.FrequencyCount);
        }*@
                                    </li>
                                    }

                                </ul>

                                <!---------------- status visual -------------------->
                                @if(Model.OrderHeader.Status != StaticDetails.StatusSubmitted)
                                {
                                    <div class="col-12">
                                        <button class="btn btn-outline-success disabled form-control" disabled>
                                            @Model.OrderHeader.Status
                                        </button>
                                    </div>
                                }


                            </div>

                        </div>
                    </div>
                </div>

                <!----------------- Card footer --------------->
                <div class="card-footer">
                    <div class="row">
                        <!-- if pending -->
                        @if (Model.OrderHeader.Status != StaticDetails.StatusApproved && Model.OrderHeader.Status != StaticDetails.StatusRejected)
                        {
                            <div class="col-6 offset-md-4 col-md-4 col-lg-2 offset-lg-8">
                                <a asp-action="Approve" asp-route-id="@Model.OrderHeader.Id" class="btn btn-success form-control">
                                    Approve
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-lg-2">
                                <a asp-action="Reject" asp-route-id="@Model.OrderHeader.Id" class="btn btn-danger form-control">
                                    Reject
                                </a>
                            </div>
                        }
                    </div>
                    
                </div>

            </div>
        </div>
    }
    else
    {
        //else if there is nothing in the
        <div class="backgroundWhite"> no items assed to the shoping cart... 123... </div>
    }

</form>
